{
    "extends": "airbnb",
    "globals": {
        "window": true,
        "document": true,
        "CustomEvent": true,
        "KeyboardEvent": true
    },
    "rules": {
        "linebreak-style": "off",
        "react/no-multi-comp": "off",
        "no-class-assign": "off",
        "import/no-mutable-exports": "off"
    }
}