<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/rovale/react-tizen-watch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="aLjg04YpZ8.ReactTizenWatch" package="aLjg04YpZ8" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>ReactTizenWatch</name>
    <tizen:profile name="wearable"/>
    <access origin="*" subdomains="true"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>        
</widget>
